@import '../variables.scss';

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.textbox {
  margin-top: 100px;
  width: 500px;
  height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: 4px solid black;
  font-weight: bold;
  font-size: 20px;
}
